*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9b3fa;
    height: 100vh;
}

.appbody{
    border: 3px dotted #d1d6d6;
    width: 700px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.1) 0px 10px 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.appbody h2{
    font-size: 19px;
    color: #333;
    margin-left: -460px;
    margin-top: -90px;
}
.appbody p{
    color: #b3b2b2;
}
.appbody:active{
    border: 3px solid rgb(38, 115, 222);
}
.icon{
    font-size: 60px;
    color: rgb(38, 115, 222);
    margin-top: 60px;
}
.appbody h3{
    font-size: 26px;
    font-weight: 500;
    color: #333;
}
.appbody .span2{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 10px 0 15px 0;
}
.appbody button{
    padding: 5px 25px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: rgb(38, 115, 222);
    border-radius: 5px;
    cursor: pointer;

}
.appbody img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}